<?xml version="1.0" ?>
<launch>
    
    <node name="motor" pkg="rosserial_python" type="serial_node.py" >
        <param name="port"	type="string"	value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value = "57600"/>   
    </node>

    <param name="sp_type" type="int" value="2"/>
    <node name="sys_input" pkg="final" type="sys_input"  output="screen"/>
    <node name="motor_controller" pkg="final" type="motor"  output="screen"/>
    <node name="pwm_plot" pkg="rqt_plot" type="rqt_plot" args="/motor_output/output /motor_input/input /set_point/set_point_data"/>
    <node name="pwm_graph" pkg="rqt_graph" type="rqt_graph" args=""/>

</launch>
