<launch>
    <rosparam file = "$(find control)/config/control_params.yaml" command = "load"/>
    <rosparam file = "$(find control)/config/system_params.yaml" command = "load"/>
    <param name="set_point" value="5" />
    
    <node name="system_response_plot" pkg="rqt_plot" type="rqt_plot" args="/set_point /motor_output/output /motor_input/input"/>

    <node name="system"     pkg="control" type="system.py"            output="screen"/>
    <node name="controller_node" pkg="control" type="controller_node.py"  output="screen"/>
</launch>